@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1c1427;
  background: rgb(255, 197, 146);
  background: linear-gradient(
    90deg,
    rgba(255, 197, 146, 1) 0%,
    rgba(255, 93, 178, 1) 100%
  );
}

label {
  font-weight: 700;
}

/* NavBar */
.navbar {
  padding: 0;
  height: 60px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.logo {
  margin-left: 30px;
  max-width: 40%;
  height: auto;
}

.titulo {
  top: 60px;
  text-align: center;
  padding: 10px 0 0;
  color: #1c1427;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-general div {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 40%;
}

.esconder-elemento {
  display: none !important;
}

.inputForm {
  margin: 15px 0;
}

.btnCrear {
  width: 60%;
  margin: 0 auto;
}

.btnCrear:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
  background-color: rgb(53, 145, 251);
  color: #ffff;
  box-shadow: 1px 1px 20px 1px rgb(0, 0, 0, 0.2);
}

.foto-card {
  width: 10rem;
  padding: 10px;
  border-radius: 50%;
}

.hiddenCard {
  display: none;
}

/* Lista de usuarios registrados */

.tabla {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

/* Footer */
footer {
  color: black;
  background-color: #f8f9fa;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
footer p {
  margin: 0;
  padding: 0;
}
footer a {
  color: blue;
  font-weight: bold;
  font-size: 17px;
}
footer a:visited {
  color: blue;
}

footer code {
  color: #1c1427;
}
