body {
  background-color: #e4d8dc;
  font-family: "Roboto", sans-serif;
  color: #1c1427;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
/* NavBar */
.navbar {
  padding: 0;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.logo {
  margin-left: 10px;
  max-width: 50%;
  height: auto;
}

/* Container general del formulario */
.container-general {
  background-color: #c9ccd5;
  box-shadow: -5px -5px 20px #b6bac5;
  border-radius: 10px;
  margin: 5vh 20vh;
  /* border: 1px solid violet; */
  padding-bottom: 2vh;
}

.titulo {
  top: 60px;
  text-align: center;
  padding: 20px;
  color: #1c1427;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-general div {
  display: flex;
  justify-content: center;
}

.form {
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.esconder-formulario {
  display: none !important;
}

.inputForm {
  border: none;
  border-radius: 5px;
  outline: none;
}

.btnCrear {
  border: 1px solid #a4a6b9;
  border-radius: 10px;
  background-color: #a4a6b9;
  box-shadow: -5px -5px 20px #8f929b;
}

.btnCrear:hover {
  transform: scale(1.1);
  transition: transform 0.1s linear;
  background-color: #4f7d88;
  box-shadow: -5px -5px 20px #73757c;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.usuarioCreado {
  /* border: 1px solid green; */
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 250px;
  padding: 5px;
  font-size: 1rem;
  background-color: #c8bdca;
  box-shadow: -5px -5px 20px #b6bac5;
}

.foto-card {
  width: 10rem;
  padding: 10px;
  border-radius: 50%;
}

.pCard {
  font-size: small;
  margin-bottom: 2px;
  color: #4f7d88;
}

.infoCard {
  background-color: #e4d8dc;
}
.hiddenCard {
  display: none;
}

/* Lista de usuarios registrados */

/* .listaUsuarios {
  border: 1px solid orangered;
  margin: 30px 40px;
} */

/* Footer */
footer {
  color: black;
  background-color: #f8f9fa;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
footer p {
  margin: 0;
  padding: 5px;
}
footer a {
  color: blue;
  font-weight: bold;
  font-size: 17px;
}
footer a:visited {
  color: blue;
}
